* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  background-image: linear-gradient(to right,#2193b0,  #6dd5ed);
  
  color: rgb(0, 0, 0);

}

h1 {
  text-align: center;
}
nav {
  margin: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}
nav a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5rem;
}
.container {
  display: grid;
  justify-content: center;

  align-items: center;
  margin-top: 0.5em;
  padding-left: 1rem;
}

.quiz-container {
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: center;
}

label,
input {
  display: inline;
  font-size: large;
  font-weight: bold;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
}
.label-quiz {
  font-size: large;
  font-weight: bold;
  margin: 0.5rem;
}

.para {
  font-size: large;
  text-align: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
input:focus
 {
  /* Additional highlight for focused elements */
  border-color: rgb(0, 0, 0);
}

button {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  
}
#output {
  padding-top:0.5rem;
  padding-bottom:1rem;

  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#submit {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}


@media (max-width: 400px) {
  .label-quiz {
    display: block;
  }
}
@media (max-width: 400px) {
    nav a {
        font-size:small;
        font-weight: bold;
        text-decoration: none;
        margin: 0rem;
  }
